<div class="container">
  <% unless current_user.nil? %>
    <div class="sidebar-container">
      <%= link_to "Financial Management", financials_path, target: "_self" %>
      <a href="">...</a>
    </div>
  <% end %>
  <div class="row center">
    <% if current_user.nil? %>
      <h3>Hello World!!!</h3>
    <% else %>
      <h3><%= "Hello #{current_user.username}" %></h3>
    <% end %>
  </div>
</div>
