<div class="container" ng-controller="expenditure" ng-cloak>
  <div class="row center">
    <h3>Expenditure management</h3>
  </div>
  <div class="row">
    {{error}}
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td></td>
          <td>Day</td>
          <td>Name</td>
          <td>Money</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr data-id="{{expenditure.id}}"
          ng-repeat="expenditure in expenditures | orderBy: 'day'">
          <td>{{$index + 1}}</td>
          <td>{{expenditure.day}}</td>
          <td>{{expenditure.name}}</td>
          <td>{{expenditure.money}}</td>
          <td>
            <a href="" data-remote="true" ng-click="modalDelete($index)">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </td>

        </tr>

        <tr>
          <td class="center">
            <b style="vertical-align: middle">New Expenditure</b>
          </td>
          <td>
            <select class="form-control inline width-30" id="expenditure_year"
              ng-model="day['year']" ng-options="y for y in years"
              ng-change="updateDays()">
            </select>
            <select class="form-control inline width-30" id="expenditure_month"
              ng-model="day['month']" ng-options="m for m in months"
              ng-change="updateDays()">
            </select>
            <select class="form-control inline width-30" id="expenditure_day"
              ng-model="day['date']" ng-options="d for d in days"
              ng-change="updateDays()">
            </select>
          </td>
          <td>
            <input type="text" class="form-control" id="expenditure_name"
              ng-model="name">
          </td>
          <td>
            <input type="number" class="form-control" id="expenditure_money"
              ng-model="money">
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div class="pull-right btn btn-success" ng-click="create()">
        Create new Expenditure
      </div>
    </div>
  </div>

  <%= render "modal" %>
</div>


<%= render "expenditure_app" %>
