@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.width-10 {
  width: 10%;
}
.width-20 {
  width: 20%;
}
.width-30 {
  width: 30%;
}
.width-40 {
  width: 40%;
}
.width-50 {
  width: 50%;
}
.width-60 {
  width: 60%;
}
.width-70 {
  width: 70%;
}
.width-80 {
  width: 80%;
}
.width-90 {
  width: 90%;
}
.width-100 {
  width: 100%;
}
.inline {
  display: inline;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.align-right {
  text-align: right;
}
.font-20 {
  font-size: 20px;
}

.sidebar-container {
  height: 100%;
  width: 20%;
  z-index: 1;
  float: left;
  background-color: #f7f7f7;
  overflow-x: hidden;
  border-radius: 2px;
  box-shadow: 0px 1px 1px #888888;
}
.sidebar-container a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  color: #808080;
  border: 1px solid #ddd;
  z-index: 1;
}
.sidebar-container a:hover {
  background: #eee;
}

.flash {
  position: absolute;
  top: 6%;
  text-align: center;
  opacity: 0;
  animation-name: flash_fade;
  animation-duration: 3s;
  z-index: 0;
  left: 50%;
  right: 50%;
  width: 200px;
}
.flash_content {
  width: 200px;
  margin: auto;
  border: 1px solid #ddd;
  background-color: #eff1ff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0px #d3deea;
  color: #000;
  font-size: 16px;
}
@keyframes flash_fade {
  0% {opacity: 0;}
  25% {opacity: 0.75}
  50% {opacity: 1.0;}
  75% {opacity: 0.75;}
  100% {
    opacity: 0;
  }
}
